<div class="card w-100 mb-3">
  <div class="catd-title  text-center">
    <h1>Authors List</h1>
  </div>
  <div class="card-body">
    <table class="table">
    	<p class="float-start"><%= link_to '<i class="fa fa-solid fa-plus fa-lg"></i>'.html_safe, new_book_author_path(book)%> Add Author</p>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% book.authors.each do |author| %>
          <tr>
            <td><%= author.name %></td>
            <td><%= author.email %></td>
            <td>
              <%= link_to "<i class='fa fa-solid fa-pencil fa-lg'></i>".html_safe , edit_book_author_path(book, author),class:"mx-3"%>
              <%= link_to '<i class="fa fa-regular fa-trash fa-lg" style="color: #ff2424;"></i>'.html_safe, book_author_path(book, author), method: :delete, data: {confirm: "Are You Sure?"}  %></td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>
