<div class="card w-100 mb-3">
  <div class="catd-title  text-center">
    <h1><%= book.title %></h1>
  </div>
  <div class="card-body">
    <strong>Description :- <%= book.desc %></strong>
    <p> Price :- <%= book.price %><br>
     Page :- <%= book.page %> </p>

    <%= render "shared/books/categories", book: @book %>
     
  </div>
</div>

<div class="col-8 mx-auto mx-5 px-5">
  <%= link_to "Edit this book", edit_book_path(book),class:"btn btn-secondary" %> |
  <%= link_to "Back to books", books_path, class:"btn btn-primary" %> |
  <%= link_to "Add Author", new_book_author_path(book), class:"btn btn-warning" %> |  
  <% unless @book.publisher.present? %>
    <%= link_to "Add Publisher", new_book_publisher_path(book) ,class:"btn btn-outline-info"  %> | 
  <% end %>

  <%= link_to "Destroy this book", book, method: :delete, data:{confirm: "Are you Sure?"},class:"btn btn-danger" %>
</div>