<div class="card w-100 mb-3">
  <div class="card-title  text-center">
    <h1><%= book.title %></h1>
  </div>
  <div class="card-body">
    <p class="float-end"><%= link_to "<i class='fa fa-solid fa-pencil fa-lg'></i>".html_safe , edit_book_path(book)  %></p>
    <strong>Description :- <%= book.desc %></strong>
    <p> Price :- <%= book.price %><br>
     Page :- <%= book.page %> </p>
     <p>
     <strong> Uploaded By:- </strong>
     <%= book.user.email %></p>

    <%= render "shared/books/categories", book: @book %>
     
  </div>
</div>